html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Header */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #e5e7eb;
}

.header-top .links {
  display: flex;
  gap: 20px;
}