html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Header */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #e5e7eb;
}

.header-top .links {
  display: flex;
  gap: 20px;
}

.header-bottom {
  display: flex;
  padding: 20px 200px;
  background-color: #1f2937;
  gap: 50px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-around;
}

.hero-container .title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-container .subtitle {
  font-size: 18px;
  color: #e5e7eb
}

.hero-container button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 25px;
}

.hero-image {
  display: flex;
}

.hero-image img {
  height: auto;
  width: 500px;
}